
    <div class="card mt-4">
        <div class="card-body">
            <h1> {{titulo}} </h1>
            <hr>
            <small>Data de publicação: {{date}}</small>
            <hr>
            <p> {{conteudo}} </p>
        </div>
    </div>
